#sBtn:hover{
    background-color: #2596be;
    color: white;
}

#sBtn{
  color: #2596be;
}

.navbar-brand:hover{
  margin-left: 1px;
  padding-top: 1px;
}

#sfield:hover{
  border: 0px;
}

#sfield{
  border: 4px solid #2596be;
  border-radius: 10px;
  width: 400px;
}

#searchForm{
  margin-right: -13px;
}